<mat-nav-list>
    <div class="profile-card">
        <div class="header">
            <h2>HELLO! HERMAIN</h2>
            <h4>hermainks@example.com</h4>
        </div>
        <img src="https://i.pinimg.com/originals/df/a2/1d/dfa21d6740c30a28d910b8db74edae8d.jpg" alt="">
    </div>

    <mat-divider></mat-divider>

    <h2 matSubheader>Pages</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Dashboard</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/posts">Departments</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/articles">Students</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/articles">Teachers</a>

    <mat-divider></mat-divider>

    <h2 matSubheader>Tools</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
        <mat-icon>import_contacts</mat-icon>
        All Users
    </a>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
        <mat-icon>contact_phone</mat-icon>
        User Permissions
    </a>

</mat-nav-list>